parameters:
  level: 8
  paths:
    - src
  bootstrapFiles:
    - tests/Support/wordpressClasses.php
    - tests/Support/acfField.php
    - tests/Support/acfLocation.php

  reportUnmatchedIgnoredErrors: true
  excludePaths: [src/Acf/Layout.php]

  ignoreErrors:
    - identifier: missingType.generics
